body {
	font-family: 'Roboto', sans-serif;
	/*margin-left: 11%;
	margin-right: 50%;*/
	max-width: 900px;
	margin:auto;
}

h3 {
	font-size: 12pt;
	height: 10px;
}

img {max-width: 100%;}

.titre {
	height: 10px;
}

.image {
	margin: 80px;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

	.image img {
		/*max-height: 70vh;*/
	}

.ingredients {
	margin: 80px;
	padding: 2px;

}

h1, h2, h3 {
	text-transform: uppercase;
}
/* style du menu de navigation */
.liens {
	text-align: right;
	font-size: 1.1em;
	margin-top: 1em;
}

.liens a {
	text-decoration: none;
	color: black;
	margin-left: 1em;

}

.active {
	font-weight: bold;

}

/* liste des pays */
.liste-pays li {
	display: flex;
}
/* Grille de mise en page */

@media screen and (min-width: 1000px) {

  .ingredients {
	box-sizing: border-box;
	  float: right;
	  width: 70%;
	  margin: 0;
	  padding: 0;
  }

  .ingredients.liste {
	  float:left;
	  width: 30%;
	  padding-right: 2em;
  }
  
  ul {
	  list-style-type:none;
	  padding-left: 200px;
	  font-size: 1.2em;
  }

  .ingredients.liste ul {
    padding-left: 0
  }

}
