div {
	text-align: center;
	display:inline-block;
	width: 50%;
	height: 1000px;
	border: solid black 1px;
}

section {
	width: 50%;
	background-color: rgba(rgb(255,255,255));
}

div.menu {
	background-image: url("img/menu.jpg");
}

div.dessert {
	background-image: url("img/dessert.jpg");
}
